<div *ngIf="viewMode; else editable">
    <div *ngIf="currentTask.id">
      <h4>Task</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentTask.title|titlecase }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentTask.description }}
      </div>
      <div>
        <label><strong>Date Created:</strong></label>
        {{ currentTask.date_created }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentTask.completed ? "Completed" : "Pending" }}
      </div>
      <a
        class="badge badge-warning"
        routerLink="/tasks/{{ currentTask.id }}"
      >
      <button class="btn btn-outline bg-warning btn-sm" >Edit</button>
      </a>
    </div>
    <div *ngIf="!currentTask">
      <br />
      <p>Please click on a Task...</p>
    </div>
  </div>
  <ng-template #editable>
    <div *ngIf="currentTask.id" class="edit-form">
      <h4>Task</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentTask.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentTask.description"
            name="description"
          />
        </div>
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentTask.completed ? "Completed" : "Pending" }}
        </div>
      </form>
      <button
        class="btn btn-outline-warning btn-sm"
        *ngIf="currentTask.completed"
        (click)="updateCompleted(false)"
      >
        Not Completed
      </button>
      <button
        *ngIf="!currentTask.completed"
        class="btn btn-outline-success btn-sm"
        (click)="updateCompleted(true)"
      >
        Completed
      </button>
      
      <button class="btn btn-outline-danger btn-sm" (click)="deleteTask()">
        Delete
      </button>
      
      <button
        type="submit"
        class="btn btn-outline-success btn-sm"
        (click)="updateTask()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
    <div *ngIf="!currentTask.id">
      <br />
      <p>Cannot access this Task...</p>
    </div>
  </ng-template>
